.img1{
  margin-left: 220px;
}
.img2{
  margin-left: 530px;
}
.heading1{
  margin-left: 470px;
  margin-top: -120px;
  
}
nav{
  background-color: gold;
  padding: 10px;
  
}

a{
  margin-left: 20px;
}

.abc{
  text-decoration: none;
  margin-left: 500px;
  

}

